body{
    margin:0;
    padding: 0;
  }
.background
{  background-image: url(Background\ Weather\ App.jpg);
    height: 700px;
    width: 1500px;
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-size: cover;
    border-radius: 30px;
    background-position: center center;
    margin-top: 45px; 
    margin-left: 105px;

    margin-bottom: 25px;
}
.haze{
    background-image: url(Haze\ New.svg);
    width: 152px;
    height: 150px;
    margin-left: 548px;
    margin-top:77px ;
    background-repeat: no-repeat ;
}
.heading{
    font-size: 30px;
    font-family: Almendra;
    margin-left: -300px;
}
